modules = ["nodejs-20", "web", "nix"]
run = "npm install && npm run build && npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:optimized"]

[[ports]]
localPort = 5000
externalPort = 5000
