# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

# PUT YOUR SESSION ID BELOW (Required)
SESSION_ID="b7Z3SCqA#j29jRbOc6JMYgLBTwiQ08gn5ZsWBmxw-BTw6LQNRwec"

# PUT YOUR REMOVE BACKGROUND KEY (Optional)
REMOVEBG_KEY=

PORT=5000

# If you don't have session id and want pairing code for connection 
PAIRING_NUMBER=


# Use One Of Following:
# Database Configuration (Optional but recommended)
# Leave empty to use JSON file storage

# MongoDB (Optional)
MONGO_URL=mongodb+srv://macksyn:mygroqdatabase1234@groq.lm0dims.mongodb.net/?retryWrites=true&w=majority&appName=Groq

# PostgreSQL (Optional)
POSTGRES_URL=

# MySQL (Optional)
MYSQL_URL=

# SQLite Path (Optional)
# Example: DB_URL=./data/baileys.db
DB_URL=

PREFIXES=.,!,/

PACKNAME=MEGA-MD

BOT_NAME=Groq

OWNER_NUMBER=2348089782988

COMMAND_MODE=private

BOT_OWNER=Alex Macksyn

TIMEZONE=Africa/Lagos
